@import url(components/department.css);
@import url(components/doctors.css);
@import url(components/booking.css);
@import url(components/confiramation.css);
@import url(components/about.css);
@import url(components/contact.css);
@import url(components/home.css);



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fafafa;
}

/* Navbar */
.navbar {
  background-color: #fff;
  border-bottom: 2px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo section */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 45px;
}

.logo-text h1 {
  font-size: 22px;
  color: #c62828;
  margin-bottom: 3px;
}

.logo-text p {
  font-size: 13px;
  color: #777;
  line-height: 1;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #c62828;
}

.nav-links a.active {
  color: #c62828;
  font-weight: 600;
}

/* Main content */
.main-content {
  flex: 1;
}


/* Footer */
.footer {
  background-color: #c62828;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
}


.navlogin, .btn-logout {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease;
  text-align: center;
}


.navlogin, .btn-logout {
  background-color: transparent;
  color: #000;
}

.navlogin:hover, .btn-logout:hover {
  background-color: #C62828; 
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .main-content h2 {
    font-size: 22px;
  }
}
