{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="about-section">
  <div class="about-container">

    <h1 class="about-title">About KMCT Hospital</h1>
    <p class="about-text">
      The Kunhitharuvai Memorial Charitable Trust Group (KMCT) Medical College Hospital, located in Manassery Mukkam, Calicut, is a renowned healthcare institution in the Malabar region. It boasts a 700-bed multispeciality hospital that provides comprehensive health care services adhering to global standards. The hospital is well-known for its excellent medical expertise, nursing care, and quality diagnostic services. With a strong commitment to a caring mission and a global vision, KMCT Medical College Hospital aims to improve the health of the community by establishing a standard of excellence in medical education, research, and clinical care.
    </p>

    <div class="vision-mission-grid">
      <div class="card card-vision">
        <h2 class="card-title">Our Vision</h2>
        <p class="card-text">
          To be one among the top institutions in the world in every aspect of health care, education, and research.
        </p>
      </div>

      <div class="card card-mission">
        <h2 class="card-title">Our Mission</h2>
        <p class="card-text">
          We strive to provide ethical, cost-effective, and state-of-the-art healthcare services to remedy illness and improve patient care through compassionate healing and advanced research.
        </p>
      </div>
    </div>

  </div>
</div>
{% endblock %}