{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

  
  <header class="navbar">
    <div class="container">
      <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="KMCT Logo" />
        <div class="logo-text">
          <h1>KMCT</h1>
          <p>Medical College Hospital</p>
        </div>
      </div>
      <nav>
        <ul class="nav-links">
          <li><a href="{% url 'home' %}" class="active">Home</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url 'booking' %}">Booking</a></li>
          <li><a href="{% url 'doctors' %}">Doctors</a></li>
          <li><a href="{% url 'department' %}">Department</a></li>
          <li><a href="{% url 'contacts' %}">Contact us</a></li>
        </ul>
      </nav>
    </div>
  </header>

 
  <main class="main-content">
    {% block content %}
    
    {% endblock %}
  </main>

  <footer class="footer">
    <div class="footer-container">
      <p>Emergency Contact: 0495 229 3500</p>
      <p>&copy; 2025 KMCT Medical College Hospital. All Rights Reserved.</p>
    </div>
  </footer>

</body>
</html>
