{% extends 'base.html' %}

{% block title %}
Doctors
{% endblock %}

{% load static %}
{% block content %}
<div class="doctors-section">
  <h1 class="section-title">Doctors</h1>
  <hr class="section-divider">
   
  <div class="feedback-link-container">
    <a href="{% url 'fead' %}" class="btn-fead">
      Give Feedback
      <img src="{% static 'images/plus.png' %}"  class="plus-icon">
    </a>
  </div>

  <div class="doctors-grid">
    {% for d in doctors %}
    <div class="doctor-card">
      <img src="{{ d.doc_image.url }}" alt="{{ d.doc_name }}" class="doctor-img">
      <h2 class="doctor-name">{{ d.doc_name }}</h2>
      <p class="doctor-spec">{{ d.doc_spec }}</p>
      <p class="doctor-department">{{ d.dep_name }}</p>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}